body {background-color: #a3d5d3;}
body {font-size: 35px;}
body {text-align: center;}
body {font-family: "Arial Black", Gadget, sans-serif;}
h2 {color: #12ab}
h2 {font-family: "Courier New", monospace;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: #111;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a: {
  background-color: #111;
}
